/* NAVBAR */
body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-main {
    display: flex;
    align-items: center;
}

.home-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.home-link img {
    margin-left: 8px;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 20px;
}

.nav-menu li a {
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    display: block;
    position: relative;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #007bff;
}

.nav-menu li a.active::after,
.nav-menu li a:hover::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #007bff;
}